In [3]:
#K-means clustering
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.cluster import KMeans
from scipy.spatial.distance import cdist
Univ=pd.read_csv("Universities.csv")

In [4]:
def norm_func(i):
    x=(i-i.min())/(i.max()-i.min())
    return(x)

In [6]:
df_norm=norm_func(Univ.iloc[:,1:])
df_norm

         SAT     Top10    Accept   SFRatio  Expenses  GradRate
0   0.743902  0.847222  0.105263  0.368421  0.255144  0.900000
1   1.000000  1.000000  0.144737  0.000000  1.000000  0.466667
2   0.621951  0.472222  0.592105  0.157895  0.297461  0.166667
3   0.743902  0.666667  0.131579  0.315789  0.415629  0.700000
4   0.670732  0.763889  0.250000  0.368421  0.239835  0.766667
5   0.817073  0.847222  0.118421  0.210526  0.427512  0.933333
6   0.756098  0.861111  0.210526  0.315789  0.416996  0.933333
7   0.609756  0.638889  0.131579  0.315789  0.208161  0.833333
8   0.963415  0.875000  0.000000  0.263158  0.561699  1.000000
9   0.731707  0.652778  0.394737  0.052632  0.910991  0.666667
10  0.914634  0.916667  0.210526  0.210526  0.476864  0.800000
11  0.621951  0.791667  0.328947  0.263158  0.352609  0.733333
12  0.609756  0.736111  0.368421  0.368421  0.116965  0.900000
13  0.185366  0.138889  0.526316  0.631579  0.026991  0.433333
14  0.902439  0.875000  0.000000  0.105263  0.392120  0.933333
15  0.000000  0.000000  1.000000  0.684211  0.006597  0.066667
16  0.865854  0.861111  0.078947  0.315789  0.505659  0.866667
17  0.170732  0.291667  0.697368  1.000000  0.000000  0.000000
18  0.573171  0.930556  0.342105  0.578947  0.117293  0.366667
19  0.695122  0.652778  0.473684  0.368421  0.540832  0.666667
20  0.426829  0.513889  0.710526  0.526316  0.123307  0.600000
21  0.682927  0.722222  0.289474  0.263158  0.343515  0.766667
22  0.536585  0.680556  0.394737  0.421053  0.084653  0.833333
23  0.195122  0.166667  0.723684  0.473684  0.057462  0.133333
24  0.902439  0.930556  0.065789  0.263158  0.634397  0.966667

In [7]:
k=list(range(2,15))
k

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [27]:
TWSS=[]
for i in k:
    kmeans=KMeans(n_clusters=i)
    kmeans.fit(df_norm)
    WSS=[]
    for j in range(i):
        WSS.append(sum(cdist(df_norm.iloc[kmeans.labels_==j,:], kmeans.cluster_centers_[j].reshape(1, df_norm.shape[1]), "euclidean")))
        TWSS.append(sum(WSS))

In [28]:
model=KMeans(n_clusters=5)
model.fit(df_norm)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=5, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [29]:
model.labels_
md=pd.Series(model.labels_)
md

0     4
1     2
2     3
3     1
4     1
5     4
6     4
7     1
8     4
9     2
10    4
11    1
12    1
13    3
14    4
15    0
16    4
17    0
18    1
19    1
20    3
21    1
22    1
23    0
24    4
dtype: int32

In [30]:
Univ['clust']=md
Univ.iloc[:,1:7].groupby(Univ.clust).mean()

               SAT      Top10     Accept    SFRatio      Expenses   GradRate
clust
0      1055.000000  39.000000  75.333333  19.666667   9875.666667  69.000000
1      1266.666667  80.666667  36.888889  12.888889  23455.111111  88.888889
2      1360.000000  87.500000  34.500000   6.500000  61133.000000  84.000000
3      1173.666667  55.000000  60.333333  14.333333  16893.666667  79.000000
4      1356.875000  91.125000  21.500000  10.875000  33878.750000  94.500000